h1 { color: black; font-family: Verdana; font-size: 200% }
h2 { color: black; font-family: Verdana; font-size: 150%  }
a  { color: black }
table { border: 1px solid black; position: absolute; top: 0; bottom: 0; left: 0; }
tr { border: 1px solid black; }
td { border: 0; color: black; font-family: Verdana; border: 1px solid black}
ul { list-style: none}
p  { color: black; font-family: Verdana;  }

td.grey{
    background-color: gainsboro;
}

td.blue{
    background-color: #CCCCFF;
}
/* used in login.jsp to make the text color white. (signed in username)
    used in rightSideBar.html to make the paragraph text color white (quotes from people)
    used in rightSideBar.html to make the h3 text color white */
body.quotes, h3.quotes, p.quotes{
    color: white;
}

body.index{
    background: url(rowsoflibrarybooks.png);
}